<!DOCTYPE html>
<html>
<head>
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tornado WebSockets</title>
     </title>
    <link rel="stylesheet"  href="../static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/animate.min.css" type="text/css">
    <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <script>
        var ws;

        function onLoad() {
            ws = new WebSocket("ws://localhost:8888/websocket");

            /// when massage recived from server
            ws.onmessage = function(e) {
               //alert(e.data);
               console.log(e.data)
            };
        }

        function sendMsg() {
            ws.send(document.getElementById('msg').value);
            ws.send("hello from client")
        }
    </script>
</head>
<body onload="onLoad();">

     <!-- Start navbar  -->
       <nav id="mainNav" class="navbar navbar-default navbar-fixed-top" >
     <div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
      <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand page-scroll" href="#page-top">
      <span>Eng.Penguino</span>
          </a>
    </div>
 <!-- Collect the nav links, forms, and other content for toggling -->
 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="background-color: black;">
  <ul class="nav navbar-nav navbar-right">
 <li>
 <a class="page-scroll" href="#home">Home</a>
</li>
<li>
<a class="page-scroll" href="#groups">Groups</a>
</li>
 <li>
 <a class="page-scroll" href="#people">People</a>
 </li>
 </ul>
 </div>
<!-- /.navbar-collapse -->
</div>
 <!-- /.container-fluid -->
 </nav>

         <!-- End Navbar  -->

    <div id="content">
	<div id="online">
	</div>
   </div>
<div id="msg" style="margin-top: 20px;">			
    <strong>Message to Send:</strong><input type="text" id="msg" maxlength="25" />
    <input type="button" class="btn btn-success del" onclick="sendMsg();" value="Send Message" />
</div>


      <!-- jQuery
    <script src="../static/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="../static/js/classie.js"></script>
    <script src="../static/js/cbpAnimatedHeader.js"></script>
    <!-- Contact Form JavaScript -->
    <script src="../static/js/jqBootstrapValidation.js"></script>
    <script src="../static/js/contact_me.js"></script>
    <script src="../static/js/plugin.js" ></script>

</body>
</html>
