<!DOCTYPE html>
<html>
<head>
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tornado WebSockets</title>
    <link rel="stylesheet"  href="../static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/animate.min.css" type="text/css">
    <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
</head>
<body >

     <!-- Start navbar  -->
       <nav id="mainNav" class="navbar navbar-default navbar-fixed-top" >
     <div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
      <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand page-scroll" href="#page-top">
      <span id="userNameChat"></span>
  </a>
  <a class="navbar-brand page-scroll" href="#page-top">
      <span id="groupNameChat"></span>
  </a>
    </div>
 <!-- Collect the nav links, forms, and other content for toggling -->
 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="background-color: black;">
  <ul class="nav navbar-nav navbar-right">
 <li>
 <a class="page-scroll" href="#home">Home</a>
</li>
<li>
<a class="page-scroll" href="#groups">Groups</a>
</li>
 <li>
 <a class="page-scroll" href="#people">People</a>
 </li>
 <li> <a class="page-scroll" href="MainPage">Log out</a> </li>
 </ul>
 </div>
<!-- /.navbar-collapse -->
</div>
 <!-- /.container-fluid -->
 </nav>
<!-- //////////////////////////////////////////////////////// End Navbar  ------------------------------------------->

    <div id="chatBody">
         <p id="overOldMsg" style="margin-left: 17px; font-family: New; font-size: 16px;">

         </p>

         <p id="over" style="margin-left: 17px; font-family: New; font-size: 16px;">

         </p>
    </div>


 <div id="online">
     <p style="margin-top: 9px;margin-left: 11px;">ONLINE</p>
     <ul id="olineList">

     </ul>
     <p style="margin-top: 9px;margin-left: 11px;">OFFLINE</p>
     <ul id="offlineList" style="color: grey">
         klfddjksdjfsdjfkj
     </ul>
 </div>

<div id="msg" style="margin-top: 20px; margin-left: 714px;">
    <input type="text" id="msgText" maxlength="25"/>
    <button id="sendMsg" class="btn btn-success new_msg">Send Message</button>
</div>


      <!-- jQuery-->
    <script src="../static/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="../static/js/classie.js"></script>
    <script src="../static/js/cbpAnimatedHeader.js"></script>
    <!-- Contact Form JavaScript -->
    <script src="../static/js/jqBootstrapValidation.js"></script>
    <script src="../static/js/contact_me.js"></script>
    <!-- <script src="../static/js/index.js" ></script> -->
    <script src="../static/js/chat.js" ></script>
    <!-- <script src="../static/js/index.js" ></script> -->
</body>
</html>
