<html lang="en" >
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Chatting Game
    </title>
    <link rel="stylesheet"  href="../static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/animate.min.css" type="text/css">
    <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
</head>
<body>
<!-- Start navbar  -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top" >
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <span id="userName" >{{loginName}}</span>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li> <a class="page-scroll" href="#home">Home</a> </li>
                    <li> <a class="page-scroll" href="#groups">Groups</a> </li>
                    <li> <a class="page-scroll" href="#people">People</a> </li>
                    <li> <a class="page-scroll" href="MainPage">Log out</a> </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
<!--********************************** End Navbar ***********************************-->
<!--********************************** Start Header **********************************-->
    <header id="page-top">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="test">Welcome To Our Chatting Game! </h1>
                <p> IT'S NICE TO MEET YOU </p>
                <a href="#home" class="btn btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>
<!--********************************** End Header ************************************-->
<!--******************************** Start home Section ******************************-->
    <section class="team text-center" id="home">
        <div class="container">
            <h1> Leader Board</h1>
            <p>Our Leaders In The Game :D </p>
            <div class="row">
                <div class="col-lg-3">
                    <img src="../static/img/team/1.jpg">
                    <h4>Dummey</h4>
                    <p>Super Friend</p>
                    <p>2 &nbsp; Blum</p><br>
                    <p>3 &nbsp; Grum</p><br>
                    <p>4 &nbsp; Grum</p><br>
                    <p>5 &nbsp; Grum</p>
                    <div class="formicons">
                        <i class="fa fa-facebook fa-lg"></i>
                        <i class="fa fa-twitter fa-lg"></i>
                        <i class="fa fa-google-plus fa-lg"></i>
                    </div>
                </div>
                <div class="col-lg-3">
                    <img src="../static/img/team/2.jpg"/>
                    <h4>Gummeyr</h4>
                    <p>Party Manr</p>
                    <p>2 &nbsp; Blum</p><br>
                    <p>3 &nbsp; Grum</p><br>
                    <p>4 &nbsp; Grum</p><br>
                    <p>5 &nbsp; Grum</p>
                    <div class="formicons">
                        <i class="fa fa-facebook fa-lg"></i>
                        <i class="fa fa-twitter fa-lg"></i>
                        <i class="fa fa-google-plus fa-lg"></i>
                    </div>
                </div>
                <div class="col-lg-3">
                    <img src="../static/img/team/3.jpg"/>
                    <h4> Sunney</h4>
                    <p> Chatty One</p>
                    <p>2 &nbsp; Blum</p><br>
                    <p>3 &nbsp; Grum</p><br>
                    <p>4 &nbsp; Grum</p><br>
                    <p>5 &nbsp; Grum</p>
                    <div class="formicons">
                        <i class="fa fa-facebook fa-lg"></i>
                        <i class="fa fa-twitter fa-lg"></i>
                        <i class="fa fa-google-plus fa-lg"></i>
                    </div>
                </div>
                     <div class="col-lg-3">
                         <img src="../static/img/team/3.jpg"/>
                         <h4> Runney</h4>
                         <p> Public Figure</p>
                         <p>2 &nbsp; Blum</p><br>
                         <p>3 &nbsp; Grum</p><br>
                         <p>4 &nbsp; Grum</p><br>
                         <p>5 &nbsp; Grum</p>
                         <div class="formicons">
                             <i class="fa fa-facebook fa-lg"></i>
                             <i class="fa fa-twitter fa-lg"></i>
                             <i class="fa fa-google-plus fa-lg"></i>
                         </div>
                     </div>
                </div>
             </div>
        </section>
    <!--************************************ End home Section ****************************-->
    <!--********************************* start groups Section ******************************-->
        <section class="groups text-center" id="groups">
            <div class="container" style="margin-top: 113px">
                 <a href="#group-form"><button class="btn">Create Group</button></a>
                <h1> My Amazing Groups </h1>
                <div class="row">
                    {% if (flag is "false")%}
                        {{print("ddd") }}
                    {%else%}
                        {% for k,i in zip(group, img2) %}
                        <div class="col col-lg-3 col-sm-6 col-xs-12" >
                            <div class="groups_box">
                                <h2 class="text-primary"> {{k}} </h2>
                                <!-- Zaynab -->
                                <a  href="/chat?chatRoomName={{k}}&room=group" class="chatLink" id="#friend"><img  class="img-thumbnail chat" src="../static/img/{{i}}"> </a>
                                <a  class="btn btn-danger  leave"> Leave Group</a>
                            </div>
                        </div>
                    {%end%}
                    {%end%}
                </div>
                <!--****************************************** end row  **************************-->
                <br><br><br><br><br>
                <h1> All The Groups </h1>
                <div class="row" id="test">
                    {% for k ,i in  zip(ng,ngi) %}
                        <div class="col col-lg-3 col-sm-6 col-xs-12" >
                            <div class="groups_box">
                                <h2 class="text-primary"> {{k}} </h2>
                                <img class="img-thumbnail chat" src="../static/img/{{i}}">
                                <a class="btn btn-success join"> Add Group </a>
                            </div>
                        </div>
                    {%end%}
                </div>
                <!--****************************************** end row  **************************-->
             </div>
        </section>
        <!--*************************************8 End groups Section *********************************-->
        <!--************************************ start friends Section ************************************-->
        <section class="people text-center" id="people">
            <div class="container" style="margin-top: 113px">
                <h1> Your Friends </h1>
                <div class="row">
                    {% if (flag is "false")%}
                        {{print("ddd") }}
                    {%else%}
                        {% for k,i in zip(user, img) %}
                            <div class="col col-lg-3 col-sm-6 col-xs-12" >
                                <div class="friends_box">
                                    <h2 class="text-primary"> {{k}} </h2>
                                    <!-- Zaynab -->
                                    <a  href="/chat?chatRoomName={{k}}&room=private" class="chatLink"id="#friend"><img class="img-thumbnail chat" src="../static/img/{{i}}"> </a>
                                    <a  class="btn btn-primary remove"> Remove Friend</a>
                                </div>
                            </div>
                        {%end%}

                    {%end%}
                </div>
                <!--****************************************** end row  **************************-->
                <br><br><br><br><br><br>
                <h1> People You May Know </h1>
                <div class="row">
                    {% for k,i in zip(nf, nfi) %}
                        <div class="col col-lg-3 col-sm-6 col-xs-12" >
                            <div class="groups_box">
                                <h2 class="text-primary"> {{k}} </h2>
                                <!-- Zaynab -->
                                <img id="chatLink" class="img-thumbnail chat" src="../static/img/{{i}}">
                                <!-- <img class="img-thumbnail chat" src="../static/img/111.jpg"> -->
                                <a class="btn btn-info add" > Add Friend </a>
                            </div>
                        </div>
                    {%end%}
                </div>
            </div>
            <!--****************************************** end row  **************************-->
        </section>
        <!--****************************************** End friends Section ******************************************-->
      <!-- ******************************************create Group form ******************************************-->
        <div id="group-form">
            <button type="button" class="close">x</button>
            <form style="padding-top: 226px" method="post">
                <div class="col-md-6">
                    <input  id="groupName" type="text" class="form-control input-lg" placeholder="Group Name ">
		            <input type="file" name="filename" id="myFile" class="form-control input-lg" accept="image/gif, image/jpeg, image/png" width="100">
                </div>
                <div class="col-md-6">
                    <textarea class="form-control input-lg"  placeholder="Discription "> </textarea>
                </div>
            </form>
            <a  id="create" class="btn btn-xl page-scroll">Create Group</a>
        </div>
<!--****************************************** End group form ******************************************-->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
      <!-- ******************************************jQuery ******************************************-->
    <script src="../static/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="../static/js/classie.js"></script>
    <script src="../static/js/cbpAnimatedHeader.js"></script>
    <!-- Contact Form JavaScript -->
    <script src="../static/js/jqBootstrapValidation.js"></script>
    <script src="../static/js/contact_me.js"></script>
    <script src="../static/js/index.js" ></script>


    </body>
</html>
