<html lang="en" >
<head>
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <title>
     Studio System
     </title>
    <link rel="stylesheet"  href="../static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/animate.min.css" type="text/css">
    <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    </head>
    <body>
     <!-- Start navbar  -->
       <nav id="mainNav" class="navbar navbar-default navbar-fixed-top" >
     <div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
      <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand page-scroll" href="#page-top">
      <span>Eng.Penguino</span>
          </a>
    </div>
 <!-- Collect the nav links, forms, and other content for toggling -->
 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
 <li>
 <a class="page-scroll" href="#home">Home</a>
</li>
<li>
<a class="page-scroll" href="#groups">Groups</a>
</li>
 <li>
 <a class="page-scroll" href="#people">People</a>
 </li>
 </ul>
 </div>
<!-- /.navbar-collapse -->
</div>
 <!-- /.container-fluid -->
 </nav>
         <!-- End Navbar -->
<!-- Start Header -->
 <header id="page-top">
  <div class="header-content">
 <div class="header-content-inner">
 <h1>Welcome To Our Chatting Game! </h1>
 <p> IT'S NICE TO MEET YOU </p>
                <a href="#home" class="btn btn-xl page-scroll">Find Out More</a>
</div>
</div>
</header>
          <!-- End Header -->
<!-- Start home Section -->
        <section class="team text-center" id="home">
            <div class="container">
                <h1> Leader Board</h1>
                <p>Our Leaders In The Game :D </p>
                <div class="row">
                <div class="col-lg-3">
                 <img src="../static/img/team/1.jpg">
                 <h4>Dummey</h4>
                 <p>Super Friend</p>
                    <p>2 &nbsp; Blum</p><br>
                    <p>3 &nbsp; Grum</p><br>
                    <p>4 &nbsp; Grum</p><br>
                    <p>5 &nbsp; Grum</p>
                    <div class="formicons">
                 <i class="fa fa-facebook fa-lg"></i>
                <i class="fa fa-twitter fa-lg"></i>
                <i class="fa fa-google-plus fa-lg"></i>
                 </div>
                </div>
                     <div class="col-lg-3">
                 <img src="../static/img/team/2.jpg"/>
                 <h4>Gummeyr</h4>
                 <p>Party Manr</p>
                         <p>2 &nbsp; Blum</p><br>
                    <p>3 &nbsp; Grum</p><br>
                    <p>4 &nbsp; Grum</p><br>
                    <p>5 &nbsp; Grum</p>
                          <div class="formicons">
                 <i class="fa fa-facebook fa-lg"></i>
                <i class="fa fa-twitter fa-lg"></i>
                <i class="fa fa-google-plus fa-lg"></i>
                 </div>
                </div>
                     <div class="col-lg-3">
                 <img src="../static/img/team/3.jpg"/>
                 <h4> Sunney</h4>
                 <p> Chatty One</p>
                         <p>2 &nbsp; Blum</p><br>
                    <p>3 &nbsp; Grum</p><br>
                    <p>4 &nbsp; Grum</p><br>
                    <p>5 &nbsp; Grum</p>
                          <div class="formicons">
                 <i class="fa fa-facebook fa-lg"></i>
                <i class="fa fa-twitter fa-lg"></i>
                <i class="fa fa-google-plus fa-lg"></i>
                 </div>
                </div>
                     <div class="col-lg-3">
                 <img src="../static/img/team/3.jpg"/>
                 <h4> Runney</h4>
                 <p> Public Figure</p>
                         <p>2 &nbsp; Blum</p><br>
                    <p>3 &nbsp; Grum</p><br>
                    <p>4 &nbsp; Grum</p><br>
                    <p>5 &nbsp; Grum</p>
                          <div class="formicons">
                 <i class="fa fa-facebook fa-lg"></i>
                <i class="fa fa-twitter fa-lg"></i>
                <i class="fa fa-google-plus fa-lg"></i>
                 </div>
                </div>
                </div>
            </div>
        </section>
        <!-- End home Section -->
        <!-- start groups Section -->
         <section class="groups text-center" id="groups">
            <div class="container" style="margin-top: 113px">
                <a href="#group-form"><button class="btn">Create Group</button></a>

<h1> My Amazing Groups </h1>
<div class="row">
<div class="col col-lg-3 col-sm-6 col-xs-12" >
<div class="groups_box">
   <h2 class="text-primary"> Hosting </h2>
   <a  href="#chatting"><img class="img-thumbnail chat" src="../static/img/111.jpg"> </a>
   <a class="btn btn-primary del"> Leave Group</a>
</div>
</div>
<div class="col col-lg-3 col-sm-6 col-xs-12" >
<div class="groups_box">
   <h2 class="text-success"> Education </h2>
   <a  href="#chatting"><img class="img-thumbnail chat" src="../static/img/111.jpg"> </a>
   <a  class="btn btn-success del"> Leave Group </a>
</div>
</div>
<div class="col col-lg-3 col-sm-6 col-xs-12" >
<div class="groups_box">
   <h2 class="text-info"> Ekraa </h2>
   <a  href="#chatting"><img class="img-thumbnail chat" src="../static/img/111.jpg"> </a>
   <a class="btn btn-info del"> Leave Group </a>
</div>
</div>
<div class="col col-lg-3 col-sm-6 col-xs-12" >
<div class="groups_box">
   <h2 class="text-danger"> Fashion </h2>
<a  href="#chatting"><img class="img-thumbnail chat" src="../static/img/111.jpg"> </a>
   <a class="btn btn-danger del"> Leave Group </a>
</div>
</div>
</div>

<h1> All The Groups </h1>
<div class="row" id="test">
<div class="col col-lg-3 col-sm-6 col-xs-12" >
<div class="groups_box">
   <h2 class="text-primary"> Hosting </h2>
   <img class="img-thumbnail" src="../static/img/111.jpg">
   <a class="btn btn-primary add"> Add Group</a>
</div>
</div>
<div class="col col-lg-3 col-sm-6 col-xs-12" >
<div class="groups_box">
   <h2 class="text-success"> Education </h2>
   <img class="img-thumbnail" src="../static/img/222.jpg">
   <a class="btn btn-success add"> Add Group </a>
</div>
</div>
<div class="col col-lg-3 col-sm-6 col-xs-12" >
<div class="groups_box">
   <h2 class="text-info"> Ekraa </h2>
   <img class="img-thumbnail" src="../static/img/33.jpg">
   <a class="btn btn-info add"> Add Group </a>
</div>
</div>
<div class="col col-lg-3 col-sm-6 col-xs-12" >
<div class="groups_box">
   <h2 class="text-danger"> Fashion </h2>
  <img class="img-thumbnail" src="../static/img/44.jpg">
   <a class="btn btn-danger add"> Add Group </a>
</div>
</div>
</div>
             </div>
        </section>
        <!-- End groups Section -->
        <!-- start friends Section -->
         <section class="people text-center" id="people">
            <div class="container" style="margin-top: 113px">
<h1> Your Friends </h1>
<div class="row">
<div class="col col-lg-3 col-sm-6 col-xs-12" >
<div class="groups_box">
   <h2 class="text-primary"> Asmaa </h2>
   <a  href="#chatting"><img class="img-thumbnail chat" src="../static/img/111.jpg"> </a>
   <a  class="btn btn-primary del"> Remove Friend</a>
</div>
</div>
<div class="col col-lg-3 col-sm-6 col-xs-12" >
<div class="groups_box">
   <h2 class="text-success"> Wessam </h2>
   <a  href="#chatting"><img class="img-thumbnail chat" src="../static/img/111.jpg"> </a>
   <a  class="btn btn-success del"> Remove Friend</a>
</div>
</div>
<div class="col col-lg-3 col-sm-6 col-xs-12" >
<div class="groups_box">
   <h2 class="text-info"> Zaynb </h2>
   <a  href="#chatting"><img class="img-thumbnail chat" src="../static/img/111.jpg"> </a>
   <a class="btn btn-info del"> Remove Friend</a>
</div>
</div>
<div class="col col-lg-3 col-sm-6 col-xs-12" >
<div class="groups_box">
   <h2 class="text-danger"> MeeRa </h2>
  <a  href="#chatting"><img class="img-thumbnail chat" src="../static/img/111.jpg"> </a>
   <a class="btn btn-danger del"> Remove Friend</a>
</div>
</div>
</div>

<h1> People You May Know </h1>
<div class="row">
<div class="col col-lg-3 col-sm-6 col-xs-12" >
<div class="groups_box">
   <h2 class="text-primary"> Hosting </h2>
   <img class="img-thumbnail" src="../static/img/111.jpg" alt="">
   <a class="btn btn-primary"> Add Friend</a>
</div>
</div>
<div class="col col-lg-3 col-sm-6 col-xs-12" >
<div class="groups_box">
   <h2 class="text-success"> Education </h2>
   <img class="img-thumbnail" src="../static/img/222.jpg" alt="">
   <a  class="btn btn-success">Add Friend </a>
</div>
</div>
<div class="col col-lg-3 col-sm-6 col-xs-12" >
<div class="groups_box">
   <h2 class="text-info"> Ekraa </h2>
   <img class="img-thumbnail" src="../static/img/33.jpg" alt="">
   <a class="btn btn-info"> Add Friend </a>
</div>
</div>
<div class="col col-lg-3 col-sm-6 col-xs-12" >
<div class="groups_box">
   <h2 class="text-danger"> Fashion </h2>
  <img class="img-thumbnail" src="../static/img/44.jpg" alt="">
   <a class="btn btn-danger"> Add Friend </a>
</div>
</div>
</div>
             </div>
        </section>
        <!-- End friends Section -->
        <!-- create Group form -->
        <div id="group-form">
            <button type="button" class="close">x</button>
            <form style="padding-top: 226px">
                <div class="col-md-6">
                      <input type="text" class="form-control input-lg" placeholder="Group Name ">
                    <input type="text" class="form-control input-lg" placeholder="">
                </div>
                <div class="col-md-6">
                <textarea class="form-control input-lg"  placeholder="Discription "> </textarea>
                </div>
            </form>
            <a href="" class="btn btn-xl page-scroll">Create Group</a>
        </div>
<!-- End group form -->
<!-- chatting Part -->
<div id="chatting">
<button type="button" class="close">×</button>
  <form>
    <div class="row chat-window col-xs-5 col-md-3" id="chat_window_1" style="margin-left:10px;">
        <div class="col-xs-12 col-md-12">
        	<div class="panel panel-default">
                <div class="panel-heading top-bar">
                    <div class="col-md-8 col-xs-8">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-comment friend"></span> Chat - Name</h3>
                    </div>
                    <div class="col-md-4 col-xs-4" style="text-align: right;">
                        <a ><span id="minim_chat_window" class="glyphicon glyphicon-minus icon_minim"></span></a>
                        <a ><span class="glyphicon glyphicon-remove icon_close" data-id="chat_window_1"></span></a>
                    </div>
                </div>
                <div class="panel-body msg_container_base">
                    <div class="row msg_container base_sent">
                        <div class="col-md-10 col-xs-10">
                            <div class="messages msg_sent">
                                <p></p>
                                <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-2 avatar">
                            <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive ">
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" type="text" class="form-control input-sm chat_input" placeholder="Write your message here..." />
                        <span class="input-group-btn">
                        <button class="btn btn-primary btn-sm" id="btn-chat">Send</button>
                        </span>
                    </div>
                </div>
    		</div>
        </div>
    </div>
    </form>
</div>
<!--End Chat Part -->
      <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="../static/js/classie.js"></script>
    <script src="../static/js/cbpAnimatedHeader.js"></script>
    <!-- Contact Form JavaScript -->
    <script src="../static/js/jqBootstrapValidation.js"></script>
    <script src="../static/js/contact_me.js"></script>
    <script src="../static/js/plugin.js" ></script>
    </body>
</html>
